WebApp/Web References/WebReference/WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="U375_show_bom">
        <s:complexType />
      </s:element>
      <s:element name="U375_show_bomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="U375_show_bomResult" type="tns:ArrayOfTb_bom_u375" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTb_bom_u375">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tb_bom_u375" nillable="true" type="tns:tb_bom_u375" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tb_bom_u375">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="bom_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="u_ohc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="u_map_lamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="u_dome_lamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="u_wire" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="u_remote" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="u_atana" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="U375_find_bom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="U375_find_bomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="U375_find_bomResult" type="tns:ArrayOfTb_bom_u375" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="U375_stock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="U375_stockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="U375_stockResult" type="tns:ArrayOfTb_st_u375" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTb_st_u375">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tb_st_u375" nillable="true" type="tns:tb_st_u375" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tb_st_u375">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_ST_U" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SEQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PN_F" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PN_N" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_CF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_FG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="S_PD" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="S_CF" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="S_S" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sequence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date_Sequence" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="U375_stock_FG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="U375_stock_FGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="U375_stock_FGResult" type="tns:ArrayOfTb_st_u375" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="U375_Finish_good">
        <s:complexType />
      </s:element>
      <s:element name="U375_Finish_goodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="U375_Finish_goodResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P375_Finish_good">
        <s:complexType />
      </s:element>
      <s:element name="P375_Finish_goodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="P375_Finish_goodResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FORD_Finish_good">
        <s:complexType />
      </s:element>
      <s:element name="FORD_Finish_goodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FORD_Finish_goodResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FORD_show_order">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FORD_show_orderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FORD_show_orderResult" type="tns:ArrayOfCL_FORD_Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCL_FORD_Order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CL_FORD_Order" nillable="true" type="tns:CL_FORD_Order" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CL_FORD_Order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PLANT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUPPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LINE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCH_OFF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRIM_ON" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NHKA_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PART_NUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PAINT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INTERIOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BRAND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BASE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VIN_NUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATE_TIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STATUS" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AAT_show_order">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AAT_show_orderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AAT_show_orderResult" type="tns:ArrayOfCL_AAT_Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCL_AAT_Order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CL_AAT_Order" nillable="true" type="tns:CL_AAT_Order" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CL_AAT_Order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PLANT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUPPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LINE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCH_OFF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRIM_ON" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NHKA_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PART_NUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PAINT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INTERIOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BRAND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BASE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VIN_NUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATE_TIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STATUS" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="U375_show_bomSoapIn">
    <wsdl:part name="parameters" element="tns:U375_show_bom" />
  </wsdl:message>
  <wsdl:message name="U375_show_bomSoapOut">
    <wsdl:part name="parameters" element="tns:U375_show_bomResponse" />
  </wsdl:message>
  <wsdl:message name="U375_find_bomSoapIn">
    <wsdl:part name="parameters" element="tns:U375_find_bom" />
  </wsdl:message>
  <wsdl:message name="U375_find_bomSoapOut">
    <wsdl:part name="parameters" element="tns:U375_find_bomResponse" />
  </wsdl:message>
  <wsdl:message name="U375_stockSoapIn">
    <wsdl:part name="parameters" element="tns:U375_stock" />
  </wsdl:message>
  <wsdl:message name="U375_stockSoapOut">
    <wsdl:part name="parameters" element="tns:U375_stockResponse" />
  </wsdl:message>
  <wsdl:message name="U375_stock_FGSoapIn">
    <wsdl:part name="parameters" element="tns:U375_stock_FG" />
  </wsdl:message>
  <wsdl:message name="U375_stock_FGSoapOut">
    <wsdl:part name="parameters" element="tns:U375_stock_FGResponse" />
  </wsdl:message>
  <wsdl:message name="U375_Finish_goodSoapIn">
    <wsdl:part name="parameters" element="tns:U375_Finish_good" />
  </wsdl:message>
  <wsdl:message name="U375_Finish_goodSoapOut">
    <wsdl:part name="parameters" element="tns:U375_Finish_goodResponse" />
  </wsdl:message>
  <wsdl:message name="P375_Finish_goodSoapIn">
    <wsdl:part name="parameters" element="tns:P375_Finish_good" />
  </wsdl:message>
  <wsdl:message name="P375_Finish_goodSoapOut">
    <wsdl:part name="parameters" element="tns:P375_Finish_goodResponse" />
  </wsdl:message>
  <wsdl:message name="FORD_Finish_goodSoapIn">
    <wsdl:part name="parameters" element="tns:FORD_Finish_good" />
  </wsdl:message>
  <wsdl:message name="FORD_Finish_goodSoapOut">
    <wsdl:part name="parameters" element="tns:FORD_Finish_goodResponse" />
  </wsdl:message>
  <wsdl:message name="FORD_show_orderSoapIn">
    <wsdl:part name="parameters" element="tns:FORD_show_order" />
  </wsdl:message>
  <wsdl:message name="FORD_show_orderSoapOut">
    <wsdl:part name="parameters" element="tns:FORD_show_orderResponse" />
  </wsdl:message>
  <wsdl:message name="AAT_show_orderSoapIn">
    <wsdl:part name="parameters" element="tns:AAT_show_order" />
  </wsdl:message>
  <wsdl:message name="AAT_show_orderSoapOut">
    <wsdl:part name="parameters" element="tns:AAT_show_orderResponse" />
  </wsdl:message>
  <wsdl:portType name="WSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="U375_show_bom">
      <wsdl:input message="tns:U375_show_bomSoapIn" />
      <wsdl:output message="tns:U375_show_bomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="U375_find_bom">
      <wsdl:input message="tns:U375_find_bomSoapIn" />
      <wsdl:output message="tns:U375_find_bomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="U375_stock">
      <wsdl:input message="tns:U375_stockSoapIn" />
      <wsdl:output message="tns:U375_stockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="U375_stock_FG">
      <wsdl:input message="tns:U375_stock_FGSoapIn" />
      <wsdl:output message="tns:U375_stock_FGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="U375_Finish_good">
      <wsdl:input message="tns:U375_Finish_goodSoapIn" />
      <wsdl:output message="tns:U375_Finish_goodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P375_Finish_good">
      <wsdl:input message="tns:P375_Finish_goodSoapIn" />
      <wsdl:output message="tns:P375_Finish_goodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FORD_Finish_good">
      <wsdl:input message="tns:FORD_Finish_goodSoapIn" />
      <wsdl:output message="tns:FORD_Finish_goodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FORD_show_order">
      <wsdl:input message="tns:FORD_show_orderSoapIn" />
      <wsdl:output message="tns:FORD_show_orderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AAT_show_order">
      <wsdl:input message="tns:AAT_show_orderSoapIn" />
      <wsdl:output message="tns:AAT_show_orderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSoap" type="tns:WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="U375_show_bom">
      <soap:operation soapAction="http://tempuri.org/U375_show_bom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="U375_find_bom">
      <soap:operation soapAction="http://tempuri.org/U375_find_bom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="U375_stock">
      <soap:operation soapAction="http://tempuri.org/U375_stock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="U375_stock_FG">
      <soap:operation soapAction="http://tempuri.org/U375_stock_FG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="U375_Finish_good">
      <soap:operation soapAction="http://tempuri.org/U375_Finish_good" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P375_Finish_good">
      <soap:operation soapAction="http://tempuri.org/P375_Finish_good" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FORD_Finish_good">
      <soap:operation soapAction="http://tempuri.org/FORD_Finish_good" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FORD_show_order">
      <soap:operation soapAction="http://tempuri.org/FORD_show_order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AAT_show_order">
      <soap:operation soapAction="http://tempuri.org/AAT_show_order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSSoap12" type="tns:WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="U375_show_bom">
      <soap12:operation soapAction="http://tempuri.org/U375_show_bom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="U375_find_bom">
      <soap12:operation soapAction="http://tempuri.org/U375_find_bom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="U375_stock">
      <soap12:operation soapAction="http://tempuri.org/U375_stock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="U375_stock_FG">
      <soap12:operation soapAction="http://tempuri.org/U375_stock_FG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="U375_Finish_good">
      <soap12:operation soapAction="http://tempuri.org/U375_Finish_good" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P375_Finish_good">
      <soap12:operation soapAction="http://tempuri.org/P375_Finish_good" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FORD_Finish_good">
      <soap12:operation soapAction="http://tempuri.org/FORD_Finish_good" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FORD_show_order">
      <soap12:operation soapAction="http://tempuri.org/FORD_show_order" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AAT_show_order">
      <soap12:operation soapAction="http://tempuri.org/AAT_show_order" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS">
    <wsdl:port name="WSSoap" binding="tns:WSSoap">
      <soap:address location="http://10.101.1.20/MyWebService/WS.asmx" />
    </wsdl:port>
    <wsdl:port name="WSSoap12" binding="tns:WSSoap12">
      <soap12:address location="http://10.101.1.20/MyWebService/WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>